@font-face {
	font-family: 'Museo Sans 300';
	src: url('../fonts/Museo Sans/MuseoSans-300.otf');
}

body {
	font-family: 'Museo Sans 300';
}


.logo{
    width:154px;
    width:9.625rem;
	float: left;
}

img{
    height:auto;
    max-width:100%
}


.header { 
	background: #fff;
}


.header .menu li {
	list-style: none;
	float: left;
}

.header .menu li a{
	text-decoration: none;
	text-transform: uppercase;
}

.jumbotron { 
	background:url(../images/hero.jpg) center no-repeat fixed;
	/* background: #000;  */
	color:#fff
}
.mission, .members { background: #f2f2f2; }
 
h2 {
    text-align:center
}
 
.item-list ul {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
    display: flex;
	align-items: center;
	justify-content: space-between
}

.item-list ul li {
    margin:0;
}

.item-list img {
    max-width: 144px;
}

  
.footer {
	background: #45484d;
}

